@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    color:rgb(14, 12, 12);
    padding: 0;
    margin: 0;
}
.left{
    width: 25vw;
    padding: 10px;
    height: 100vh;
}
.right{
    width: 75vw;
    padding: 20px;
    margin: 16px 0;
    height: 100vh   ;
    overflow: scroll;
    margin-right: 10px;
    position: relative;
}
.home{
    padding: 10px;
}
.home ul li{
    display: flex;
    width: 20px;
    list-style: none;
    gap:15px;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    width: 100%;
    gap:8px;
    padding:14px 14px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}
.heading img{
    width: 25px;
}
.library{
    position: relative;
    min-height: 80vh;
    overflow: auto;
}
.footer{
    display: flex;
    font-size: 10px;
    gap:5px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: grey;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(49, 47, 47);
}
.header > *{
    padding: 20px;
}
.playlists{
    padding: 10px;
    position: relative;
}
.card-container{
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
}
.card{
    width:150px;
    padding:10px;
    border-radius: 10px;
    background-color: #252525;
    overflow: hidden;
    transition: 0.4s;
}
.card{
    padding-top: 10px;
    position: relative;
}
.card img{
    width:100%;
    object-fit:contain;
}
.play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 85px;
    right: 13px;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.card:hover{
    background-color: #6a6969;
}
.card:hover .play{
    transform: scale(1.1);
    opacity: 1;

}
button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
}

.nav{
    display: flex;
    align-items: center;
}
.logout{
    transition: all 0.2s ease-out;
}
.logout:hover{
    transform: scale(1.05);
    font-weight: bold;
}
.playbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    filter: invert(1);
    background: #b3b0b0;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}
.songbuttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:16px;

}
.songlist ul{
    padding:0 12px;
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    padding: 12px 0;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content:  space-evenly;
    width: 90%;
    transition: 0.4s;


}
.songlist ul li:hover{
    background-color: #6a6969;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 12px;
    width: 64px;
    padding: 12px;
}
.songlist .info{
    font-size: 13px;
}
.songlist{
    height: 400px;
    overflow: auto;
    margin-bottom: 44px;
}
.seekbar{
    width: 98%;
    height: 4px;
    background: #a5a5a5;
    filter: invert(1);
    position: absolute;
    cursor: pointer;
    bottom: 8px;
    margin: 6px;

}
.circle{
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 13px;
    position: relative;
    bottom: 5px;
    left: 0%   ;
    transition: left 0.5s;
}
.songbuttons img{
    cursor: pointer;
}
.play_details{
    display:flex;
    justify-content: space-between;
    width:100%
}
.songinfo ,.songtime{
    color: black;
}
.songinfo{
    font-size: 12px;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:5px
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.range input{
    cursor: pointer;
}
.circle1{
    display: flex;
    width: 40px;
    height: 40px;
    margin: 10px;
    position: relative;
    border-radius: 100%;
    background-image: url("../public/elma.png");
    background-size: cover;
    background-position: center;
}
.top-right{
    display: flex;
}
